<mat-card-title>Change password</mat-card-title>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="password">
            <mat-error *ngIf="changePasswordForm.controls.password.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="changePasswordForm.controls.password.hasError('minlength')">
                Password must be at least 6 characters
              </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" [disabled]="!changePasswordForm.valid" color="primary" class="Update-btn">Save</button>
        <button mat-raised-button type="button" class="Discard-btn" (click)="onNoClick()">Cancel</button>
    </div>
</form>